.chat-section {
    width: 100%;
    height: 80vh;
    padding-top: 20px;
    height: 84vh;
  }

/* .head-bg {
    background-color: #e0e0e0;
  } */

  .border-top500 {
    border-top: 1px solid #e0e0e0;
  }



.border-right500 {
    border-right: 1px solid #e0e0e0;
  }

.message-area {
    /* height: 80vh; */
    overflow-y: auto;
  }

  .chat-main {
    /* padding: 10px 0 20px; */
    /* height: 100vh; */
    /* margin: 10vh 0 10vh; */
    display: flex;
    flex-direction: column;
  }
  
 
  .chat-text {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
   
 
  .message {
    display: flex;
    align-items: center;
  }
  
  
  .sent {
    flex-direction: row-reverse;
  }
  
  .sent p {
    color: white;
    background: #6C7ED6;
    align-self: flex-end;
  }
  .received p {
    background: #e5e5ea;
    color: black;
  }
  
  .chat-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
  }


  .header-cointainer {
    background-color: #4853A4 ;
    color: white;
    padding: 0px;
    margin: 0px;
    }

  .header {
    background-color: #4853A4 ;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  .logo {
      width: 90%;
      height: auto;
      margin: 0;
      padding: 0;
  }
 
   