.chat-section {
    width: 100%;
    height: 84vh;
    padding-top: 1.9vh;
    padding-bottom: 10vh;
  }

.border-top500 {
  border-top: 1px solid #e0e0e0;
}

.border-right500 {
  border-right: 1px solid #e0e0e0;
}

.message-area {
  overflow-y: auto;
}

.chat-main {
  display: flex;
  flex-direction: column;
}

.chat-text {
  max-width: 500px;
  margin-bottom: 0px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.sent .date {
  font-size: xx-small;
  margin-bottom: 10px;
  margin-right: 5px;
  text-align: end;
  color: grey;
}


.received .date {
  font-size: xx-small;
  margin-bottom: 10px;
  margin-left: 5px;
  text-align: start;
  color: grey;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #6c7ed6;
  align-self: flex-end;
  text-align: left;
}
.received p {
  background: #e5e5ea;
  color: black;
  text-align: left;
}


.logo-cointainer {
  display: flex;
  justify-content: center;
}

.logo {
  padding: 0px;
  margin: 0px;
  width: 55%;
  height: auto;
}

.chat-active {
  background-color: rgba(127, 130, 146, 0.3);
  margin: 5px;
  border-radius: 2%;
  font-size: small;
}

.chat-nonactive {
  margin: 5px;
  border-radius: 2%;
  font-size: small;
}
