.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    margin: 2vh 0;
}

.buttonSection{  
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

.btn-sortBy{
    background-color: transparent;
    color: #A8A8A8;
    border: none;
    outline: none;
    cursor: pointer;
}

.buttonYourNetwork:hover,.btn-writeMessage:hover,.btn-sortBy:hover{
    color: black;
}
