
.ModalCreatePost{
    color: white;
    letter-spacing: 0.05em;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    display: none;
    justify-content: center;
    width: 100%;
}

.ModalForm{
    position: absolute;
    top: 100px;
    
    width: 40%;
    background-color:#4853A4;
    border-radius: 6px;
    opacity: 1;
}
.ModalForm>*{
    margin: 6px;
}



.close{
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    outline: none;
}
