.Modal {
  /* height: 370px; */
  width: 50vw;
}
.informationAboutTheWriter {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
  margin-left: 7px;
  align-items: top;
}
.informationAboutTheWriter > * {
  margin-top: 10px;
}
.positionInProgramming {
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.32);
}

.nameOfWriter {
  color: #4853a4;
}
.profile-Post-Photo {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(0, 0, 0, 0.32);
  border-radius: 100%;
  height: 75px;
}
.data {
  width: 60%;
  font-family: Roboto;
  padding-top: -50px;
  text-align: end;
  color: rgba(0, 0, 0, 0.32);
}
.likesSection {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
}
.likesSection > * {
  color: #a8a8a8;
}
.likesPhoto {
  margin-top: -7px;
  width: 50px;
  height: 40px;
}
.comentPhoto {
  margin-top: -7px;
  width: 50px;
  height: 40px;
}
.sharePhoto {
  margin-left: 10px;
  margin-top: -7px;
  width: 50px;
  height: 40px;
}
.likesSection > * {
  padding-left: 10px;
}
.comentSection {
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
}

.comentSection > * {
  padding-left: 10px;
  color: #a8a8a8;
}
.postStatus {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contentOfThePost {
  padding-left: 100px;
  padding-right: 100px;
}

.textOfPost {
  font-size: 1.2em;
  color: #a8a8a8;
}
.photoOfComentator {
  width: 70px;
  border-radius: 100%;
}
.coment {
  margin-top: 10px;
  display: flex;
}
.comentatorName {
  color: #4853a4;
  margin: 0;
}
.comentContent > * {
  padding-left: 20px;
}

.comentText {
  color: #a8a8a8;
}
.tittle {
  color: #4853a4;
  text-align: center;
}
.formComment {
  margin-top: 10px;
  margin-bottom: 2s0px;
}
#standard-secondary {
  width: 300px;
  
}
.buttonSubmit {
  position: absolute;
  left: 20px;
}
