.Modal {
  width: 40vw;
  padding: 20px 50px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.informationAboutTheWriter {
  display: flex;
  justify-content: flex-start;
}

.name-time-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.data {
  width: 60%;
  font-family: Roboto;
  padding-top: -50px;
  text-align: end;
  color: rgba(0, 0, 0, 0.32);
}

.likesSection {
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
}
.likesSection > * {
  color: #a8a8a8;
}
.likesPhoto {
  margin: -7px 6px 0 0;
  width: 40px;
  height: auto;
}
.comentPhoto {
  margin: -7px 6px 0 0;
  width: 35px;
  height: auto;
}

.comentSection {
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
  justify-content: flex-start;
  width: 400px;
}

.comentSection > * {
  color: #a8a8a8;
}
.postStatus {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.comment {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.comentatorName {
  color: #4853a4;
  margin: 0;
}
.commentContent {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
}

.comentText {
  color: #a8a8a8;
}
.tittle {
  color: #4853a4;
  text-align: center;
}
.formComment {
  margin-top: 10px;
  margin-bottom: 2s0px;
}
#standard-secondary {
  width: 300px;
  
}
.buttonSubmit {
  position: absolute;
  left: 20px;
}
