.primary-survey {
    margin: 0;
    display: flex;
    height: 100vh;
}

.logo-column {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.survey-column {
    width: 60%;
    background-color: #4853A4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.right-column {
    width: 20%;
    background-color: #4853A4;
}

.white-text {
    color: white;
}

.survey-steps, .option-buttons {
    display: flex;
    justify-content: space-between;
}

.survey-single-step{
    margin-top: 20px;
    width: 20%;
    background-color: #6C7ED6;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.general-info-container, .survey-skills-container,.survey-skills, .about-you-section  {
    height: 50vh;
    margin-top: 50px;
}

.general-info-btn:focus {
    background-color: white;
    color: #6C7ED6;
    outline: none;
    border: none;   
}

.survey-single-step[data='active'], .general-info-btn[data='active']{
    background-color: white;
}

.next-prev-btns-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.skip-btn, .next-prev-btn {
    width: 200px;
    height: 80px;
    background-color: #4853A4;
    border: none;
    outline: none;
    cursor: pointer;
}

.next-prev-btn {
    border-right: white solid 2px;
}

.next-prev-btn:hover, .skip-btn:hover {
    background-color: #6C7ED6;
}

label {
    color: white;
}

.about-you-section {
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 100%;
}