.profile-page-container {
    display: flex;
    justify-content: center;
}

.profile-sections-container {
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.profile-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
}

.profile-section-content {
    padding: 20px;
}

.technologies-list {
    color: black;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    padding: 20px;
}

.technologies-list-item {
    margin-right: 20px;
}