/*******PROFILE PAGE*************/

.profile-page-container {
    display: flex;
    justify-content: center;
}

.profile-sections-container {
    padding: 2vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.profile-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 30px;
}

.technologies-list {
    color: black;
    /* -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; */
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.technologies-list-item {
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
}

.technology-icon {
    height: 35px;
    margin-right: 6px;
    object-fit: contain;
}

.profile-section-heading {
    display: flex;
}

.profile-content-line {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.profile-content {
    display: flex;
    flex-direction: column;
}

/*******USERS PAGE*************/

.users-info-container {
    padding: 2vh;
    width: 100%;
    /* padding: 0 30px; */
}

.users-profiles-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.user-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
 }

 .loading-page {
    padding: 2vh;
    width: 100%;
    height: 96vh;
 }

 .user-page-buttons {
     display: flex;
     gap: 6px;
 }

 .technology-icon-small {
    height: 25px;
    margin: 3px;
    object-fit: contain;
}

.technologies-list-small {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}