.login-btn, .signin-btn { 
    width: auto;
    height: 50px;
    background-color: #4853A4;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 0!important;
}



.login-btn {
    /* border-right: white solid 1px; */
    padding-right: 150px;
    margin: 0;
    width: 100%;
    float: left;
    text-align: left;

}

.signin-btn {
    border-left: white solid 1px;
    padding-left: 150px;
    margin: 0;
    float: right;
    text-align: right;
    width: 100%
}



