.navbar{ 
    padding-top: 13vh;
    position: absolute;
    top: 2vh;
    left: 2vh;
    display: block;
    background-color: #4853A4;
    width: 10%;
    height: 96vh;
    color: #000000; 
}

.navItem{
    letter-spacing: 0.05em;
    padding: 7%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
}

.logoPhoto{
    top: -2vh;
   position: absolute;
   left: -2.3vw;
    width: 15vw; 
}
.profilePhoto{
    padding-bottom: 15%;
    border-radius: 15%;
}
.navHelpItem{
    margin-top:15% ;
    margin-bottom: 15%;
}
.horizontalLaneTop{
    margin-top: 25%;
    width: 100%;
    height: 1px;
    background-color: #656CA2;}
.horizontalLaneBot{
        width: 100%;
        height: 1px;
        background-color: #656CA2;
    
    }